 <!-- form handling -->
 <form method="POST" id="get_portfolio">
  <div class="filter-condition">
    <div class="form-group">
      <label for="name" class="text-label">Token</label>
      <input type="text" name="token" value="" placeholder="Please enter a token name.">
    </div>
    <div class="form-group">
      <label for="date" class="text-label">Date</label>
      <input type="date" name="date" value="" placeholder="Please select a date.">
    </div>
    <div class="form-group">
      <button type="submit" class="btn dark-text">Get Portfolio</button>
    </div>
  </div>
</form>
 <!-- /form handling -->